body {
    background: #FFF;
    
    font-size: 16px;
    padding: 3em 0;
}

body, h1, h2, h3 {
    color: #333;
}

a {
	color: #316cf2;
	
	:hover {
	    text-decoration: underline;
	}
}

dd {
    margin: 0 0 1em;
}

h1 {
    font: bold 200% HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input, textarea {
    font-size: 16px;
    padding: 3px;
    width: 15em;
}

input[type=submit] {
    font-size: 75%;
    padding: 10px;
    width: auto;
}

textarea {
    height: 10em;
    width: 20em;
}

label {
    display: inline-block;
    width: 5em;
}

.right {
    padding-left: 10px;
    img {
        margin: 0 0 5px;
        padding: 0;
    }
}

#navigation {
    border-top: 1px solid #ccc;
    font-size: 75%;
    list-style: none;
    margin: 0 0 50px;
    //padding: 0 0 0 275px;
    text-align: right;
}

#navigation li {
    border-right: 1px solid #ccc;
    display: inline;
    margin: 0;
    padding: 0 5px;
}

#navigation li.end {
    border: none
}

#navigation a {
    color: #888;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#navigation a:hover {
	text-decoration: underline;
}

#navigation a.active {
	color: #944;
	text-decoration: underline;
}

.footer {
    color: #888;
    font-size: 75%;
    margin-top: 25px;
    
    a {
        color: #888;
    }
}