{% extends "base.html" %}
{% load markup typogrify %}

{% block title %}The Product Photo - About Our Studio{% endblock %}

{% block content %}
	<div class="span-12"><h1>Thank you for your interest.</h1></div>
	<div class="span-8 last">&nbsp;<!-- spacer div --></div>
	<div class="span-12">
		<p>
			We'll email you back as soon as possible. Meanwhile, you should visit our order form <a href="{% url order %}" title="Order form">here</a>.
		</p>
	</div>
	<div class="span-8 last">&nbsp;<!-- spacer div --></div>
{% endblock %}

{% block scripts %}

{% endblock %}