{% extends "base.html" %}
{% load markup typogrify %}

{% block title %}Contact us{% endblock %}

{% block content %}
	<div class="span-20 last"><h1>Contact us</h1></div>
	<div class="span-10 contact">
		<form action="{% url contact_form %}" method="post">
			<ul>
				{{ form.as_ul }}
			</ul>
			{% csrf_token %}
			<p><input type="submit" value="Send"></p>
		</form>
	</div>
	<div class="span-2">&nbsp;<!-- spacer div --></div>
	<div class="span-8 last">
		<p>
			Dave Randolph<br>
			Phone: (214) 638-3002<br>
			Email: <a href="mailto:info@theproductphoto.com">info@theproductphoto.com</a>
		</p>
		<p>
			The Product Photo<br>
			13765 Beta Road<br>
			Dallas, TX 75244
		</p>
	</div>

{% endblock %}