{% extends "base.html" %}
{% load markup typogrify %}

{% block title %}The Product Photo - About Our Studio{% endblock %}

{% block content %}
	<div class="span-12"><h1>About our studio.</h1></div>
	<div class="span-8">&nbsp;<!-- spacer div --></div>
	<div class="span-12">
		
		<p>
			The Product Photo is an internet division of one of the largest studios in the southwest, located in Dallas, Texas. Our parent company, WR Studio, has provided product photography for websites and catalogs for over 30 years to leading corporations, manufacturers, and advertising agencies around the globe.
		</p>
		<p>
			Our efficient production process allows you to ship products to us from anywhere on the globe. We guarantee individual attention, outstanding service, and extraordinary results—we meet the requirements and expectations of all our customers the first time.
		</p>
		<p>
			With easy to use guidelines, we're able to provide high quality, beautifully lit photography for your products. Our guides help you decide what kind of backgrounds, camera angles, reflections, shadows, and setup to focus on specific product features. But the guides are just that: guides. We can easily accommodate any requests.
		</p>
		<h3>Reasons to use The Product Photo</h3>
		<ul>
			<li>Put your product in the best light possible</li>
			<li>Affordable pricing, satisfaction guaranteed</li>
			<li>Excellent photo for small <em>and</em> large products</li>
		</ul>
		<p>
			You should follow us on twitter <a href="http://twitter.com/" title="The Product Photo's Twitter account">here</a>. Thank you for your interest and we look forward to taking care of your photo needs.
		</p>
	</div>
	<div class="span-8 last right">
		<a href="{{ MEDIA_URL }}images/studiowindows_l.jpg" title="Enlarge image"><img src="{{ MEDIA_URL }}images/studiowindows.jpg" alt="Studio" class="right"></a>
		<br class="clear">
		<a href="{{ MEDIA_URL }}images/studiomain_l.jpg" title="Enlarge image"><img src="{{ MEDIA_URL }}images/studiomain.jpg" alt="Studio" class="right"></a>
		<a href="{{ MEDIA_URL }}images/kitchen_l.jpg" title="Enlarge image"><img src="{{ MEDIA_URL }}images/kitchen.jpg" alt="Studio" class="right" style="margin-left: 5px"></a>
	</div>
{% endblock %}

{% block scripts %}

{% endblock %}