{% extends "base.html" %}
{% load markup typogrify %}

{% block title %}The Product Photo - Increase Sales with Affordable, Professional Photography{% endblock %}

{% block content %}
	<div class="span-1">&nbsp;<!-- spacer div --></div>
	<div class="span-14">
		<h1>Competitive&nbsp;photography<br>for your&nbsp;products</h1>
		<ul>
			<li>Quality at affordable prices</li>
			<li>Individual attention</li>
			<li>Outstanding service</li>
			<li>Extraordinary results</li> 
		</ul>
		<a href="{% url order_form %}" class="orderonline" title="Order online in seconds">Order online in seconds</a> <span  class="browsesamples">or <a href="" title="Sample product photography">browse our samples</a>.</span>
	</div>
	<div class="span-4">
	</div>
	<div class="span-1 last">&nbsp;<!-- spacer div --></div>
{% endblock %}