{% extends "base.html" %}
{% load markup typogrify %}

{% block title %}The Product Photo - Questions &amp; Answers{% endblock %}

{% block styles %}
{{ block.super }}
{% include "rotator_styles.html" %}
{% endblock %}

{% block content %}
	<div class="span-6">&nbsp;<!-- spacer layer --></div>
	<div class="span-14 last">
		<h1>Questions &amp; Answers</h1>
	</div>
	<div class="span-6">
		<div class="rotator">
		  <ul>
		    <li class="show"><img src="{{ MEDIA_URL }}images/sides/wineglassesside.jpg" alt="Fantastic product photography"></li>
			
			<li><img src="{{ MEDIA_URL }}images/sides/toasterside.jpg" alt="Fantastic product photography"></li>
		    <li><img src="{{ MEDIA_URL }}images/sides/toycarside.jpg" alt="Fantastic product photography"></li>
		    <li><img src="{{ MEDIA_URL }}images/sides/smartbearside.jpg" alt="Fantastic product photography"></li>
			<li><img src="{{ MEDIA_URL }}images/sides/readingglassesside.jpg" alt="Fantastic product photography"></li>
			<li><img src="{{ MEDIA_URL }}images/sides/10pcpotsside.jpg" alt="Fantastic product photography"></li>
			<li><img src="{{ MEDIA_URL }}images/sides/umbrellaside.jpg" alt="Fantastic product photography"></li>
		  </ul>
		</div>
		
	</div>
	<div class="span-14 last">
		<dl>
			<dt>How long does it take to get my&nbsp;photos?</dt>
			<dd>Turnaround time is usually two to three days from when we receive your&nbsp;merchandise.</dd>
			<dt>How do I receive the final&nbsp;images?</dt>
			<dd>Any way you&#8217;d like. Typically, customers download their images on the web, or we can ship a CD&nbsp;overnight.</dd>
			<dt>Some of my products require assembly. Can you do&nbsp;this?</dt>
			<dd>Of course! We can assemble <em>anything</em>. Product assembly is billed at $40 an hour in quarter-hour&nbsp;increments.</dd>
			<dt>Will you ship my merchandise back to&nbsp;me?</dt>
			<dd>Yes. If you include a prepaid shipping receipt or a carrier account, we&#8217;ll ship your products using those. Otherwise, we can invoice shipping in the final bill. We return products in the original boxes where&nbsp;possible.</dd>
			<dt>Is white the only background&nbsp;color?</dt>
			<dd>We can do any color or texture. Be sure to <a href="{% url contact_form %}" alt="Get in touch">contact us</a> with your specific&nbsp;requests.</dd>
			<dt>How can you offer great photo for such a low price?</dt>
			<dd>With over 20,000 square feet of shooting space, we&#8217;re able to consistently deliver the best product photo very efficiently. All our capacity allows us to fulfill any order, from a few photos to a complete catalog, in a matter of days. And our process works&#8212;we&#8217;ve been suppling retailers with high-quality photography for over thirty years. Start your order <a href="{% url order_form %}" title="Order online">here</a>.</dd>
		</dl>
	</div>
{% endblock %}

{% block scripts %}
{% include "jquery.html" %}
{% include "rotator.html" %}
{% endblock %}