{% extends "base.html" %}
{% load compress markup typogrify %}

{% block title %}The Product Photo - Increase Sales with Affordable, Professional Photography{% endblock %}

{% block content %}
<div class="span-20 last">
	
</div>
{% endblock %}

{% block scripts %}
{% include "jquery.html" %}
{% compress js %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.galleriffic.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.opacityrollover.js"></script>
{% endcompress %}
{% endblock %}